<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>389020544990-8uohd3jvl00dvo5c9rao5g9cmvcekocs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.389020544990-8uohd3jvl00dvo5c9rao5g9cmvcekocs</string>
	<key>API_KEY</key>
	<string>AIzaSyAaB6neQJ3DK6Ee5NH6PJvkQVnkB1bg1Rk</string>
	<key>GCM_SENDER_ID</key>
	<string>389020544990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gad.tellfutureyou.org</string>
	<key>PROJECT_ID</key>
	<string>tell-future-you</string>
	<key>STORAGE_BUCKET</key>
	<string>tell-future-you.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389020544990:ios:f6d1f8f7eac308240af74f</string>
	<key>DATABASE_URL</key>
	<string>https://tell-future-you.firebaseio.com</string>
</dict>
</plist>